.offer {
    max-width: 1200px;
    margin: auto;
}


form button {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #FDC53D;
    cursor: pointer;
    color: black;
    margin-top: 16px;
}

.success {
    margin-top: 14px;
}

.success p {
    font-weight: 600;
    font-size: 22px;
}

form button:hover {
    box-shadow: 0px 2px 2px black;
    background-color: #fcd87f;
    transition: 0.5s;

}
.note {
    margin-top: 18px;
}

.note h2 {
    font-size: 26px;
}

.note p {
    font-size: 22px;
}

.subscription {
    display: flex;
}

@media screen and (max-width: 768px) {
.offer-form {
    margin-left: 12px;
}

.note {
    margin-left: 12px;
}
       
     }